# 機械学習の前処理を行なう

## 機械学習で予測する Data を設定しよう

In [1]:
import seaborn as sns
dataset = sns.load_dataset('titanic')
dataset

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

- 先頭の survived が生還したのかの情報。
- 機械学習は、実際に起きた過去の情報をもとに、こういった場合は生還できるのかを予測することになる。
- もし海難事故にあった場合どういった顧客が生存できるのかを予測する Model を作る。
- 目的変数（予測する対象）: survived
- 説明変数（予測するために使う Data）: 中身を分析しながら目的変数に寄与する変数を選定していく

In [2]:
# 目的変数を Label として分ける
label = dataset.pop('survived')  # DataFrame.pop() を使って１列のみ取り出す
label

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 891, dtype: int64

- 目的変数を明確に分けておくことで、説明変数の吟味がよりやりやすくなる。
- 目的変数を y と定義し、説明変数を x と定義することもある。
- 目的変数を分けるという作業は教師あり学習特有の作業になる。
- 分類では label という名前を使うことが多く、回帰では y　を使うことが多い。