# 構造化 Data

#### Master data
System 上で固定する Data.
#### Transaction data
中身が一定でない Data.

## 法人情報 Data を読み込んでみよう

In [1]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd
from IPython.display import display

pd.set_option('display.max_columns', None)

In [2]:
data = pd.read_csv('./sample_file/100knock-process-visualization/chapter-1/data/22_shizuoka_all_20210331.csv', encoding='shift-jis', header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,1,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,磐田市,国府台３−１,NaN,22,211,4380077.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,焼津市,本町２丁目１６−３２,NaN,22,212,4250022.0,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [4]:
len(data)

114613

In [5]:
len(data)

114613

## 読み込んだ Data を確認しよう

In [6]:
data.columns
# columns は属性。関数や Method ではないので .columns()のように () はつけない。

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64')

In [7]:
len(data.columns)

30

In [8]:
print(data.dtypes)

0       int64
1       int64
2       int64
3       int64
4      object
5      object
6      object
7     float64
8       int64
9      object
10     object
11     object
12    float64
13      int64
14      int64
15    float64
16    float64
17    float64
18     object
19    float64
20    float64
21     object
22     object
23      int64
24     object
25     object
26     object
27    float64
28     object
29      int64
dtype: object

In [9]:
data = pd.read_csv('sample_file/100knock-process-visualization/chapter-1/data/22_shizuoka_all_20210331.csv',
                   encoding='shift-jis', header=None, dtype=object)

In [10]:
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,磐田市,国府台３−１,NaN,22,211,4380077,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,焼津市,本町２丁目１６−３２,NaN,22,212,4250022,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [11]:
print(data.dtypes)

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
dtype: object

## Header 用の Text file を読み込もう

In [12]:
mst = pd.read_csv('./sample_file/100knock-process-visualization/chapter-1/data/mst_column_name.txt', encoding='shift-Jis')
mst.head

<bound method NDFrame.head of    column_id\tcolumn_name_ja\tcolumn_name_en
0                    1\t一連番号\tsequenceNumber
1                   2\t法人番号\tcorporateNumber
2                           3\t処理区分\tprocess
3                           4\t訂正区分\tcorrect
4                       5\t更新年月日\tupdateDate
5                       6\t変更年月日\tchangeDate
6                            7\t商号又は名称\tname
7               8\t商号又は名称イメージID\tnameImageId
8                              9\t法人種別\tkind
9            10\t国内所在地（都道府県）\tprefectureName
10                 11\t国内所在地（市区町村）\tcityName
11            12\t国内所在地（丁目番地等）\tstreetNumber
12           13\t国内所在地イメージID\taddressImageId
13               14\t都道府県コード\tprefectureCode
14                     15\t市区町村コード\tcityCode
15                        16\t郵便番号\tpostCode
16                 17\t国外所在地\taddressOutside
17    18\t国外所在地イメージID\taddressOutsideImageId
18                19\t登記記録の閉鎖等年月日\tcloseDate
19               20\t登記記録の閉鎖等の事由\tcloseCause
20     21\t承継先法人番号\tsuccessorCorporateNumber
21                  22\t変更事由の詳細\tchangeCause
22             23\t法人番号指定年月日\tassignmentDate
23                          24\t最新履歴\tlatest
24                  25\t商号又は名称（英語表記）\tenName
25   26\t国内所在地（都道府県）（英語表記）\tenPrefectureName
26     27\t国内所在地（市町村丁目番地等）（英語表記）\tenCityName
27         28\t国外所在地（英語表記）\tenAddressOutside
28                        29\tフリガナ\tfurigana
29                       30\t検索対象除外\thihyoji>

In [13]:
# \t で区切った状態で再度読み込む
mst = pd.read_csv('./sample_file/100knock-process-visualization/chapter-1/data/mst_column_name.txt', encoding='shift-jis', sep='\t')
mst.head()

   column_id column_name_ja   column_name_en
0          1           一連番号   sequenceNumber
1          2           法人番号  corporateNumber
2          3           処理区分          process
3          4           訂正区分          correct
4          5          更新年月日       updateDate

In [14]:
# Data 件数の確認
len(mst)

30

`data.columns` （項目数）と同じ件数であることを確認。

In [15]:
# 比較演算子で確認
len(mst) == len(data.columns)

True

## Header 行を追加しよう

In [16]:
columns = mst.column_name_en.values

In [17]:
display(columns)

array(['sequenceNumber', 'corporateNumber', 'process', 'correct',
       'updateDate', 'changeDate', 'name', 'nameImageId', 'kind',
       'prefectureName', 'cityName', 'streetNumber', 'addressImageId',
       'prefectureCode', 'cityCode', 'postCode', 'addressOutside',
       'addressOutsideImageId', 'closeDate', 'closeCause',
       'successorCorporateNumber', 'changeCause', 'assignmentDate',
       'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji'], dtype=object)

In [18]:
data.columns = columns

In [19]:
data.head()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,磐田市,国府台３−１,NaN,22,211,4380077,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,焼津市,本町２丁目１６−３２,NaN,22,212,4250022,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

## 統計量や欠損値を確認しよう

In [20]:
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114613,114613,114613,114613,114613,114613,114613,1243,114613,114613,114613,114596,1195,114613,114613,114440,0,0,10077,10077,666,1111,114613,114613,232,230,230,0,46620,114613
unique,114613,114613,6,2,1316,1344,105857,1243,9,1,46,99704,1195,1,48,2772,0,0,1331,4,572,1051,1328,1,231,1,129,0,41339,2
top,1,1000013040008,01,0,2015-11-13,2015-10-05,八幡神社,00067214,301,静岡県,浜松市中区,新貝町２３９番地の１,00067259,22,131,4100022,NaN,NaN,2016-02-08,01,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,1,1,94126,80704,55969,83291,171,1,51229,114613,9978,51,1,114613,9978,732,NaN,NaN,509,7642,12,12,101316,114613,2,230,10,NaN,30,114388

Data が全て Object型で定義しているため、数値の集計ではなく、Data の個数が数えられている。
- count: 要素の個数
- unique: unique な要素の個数
- top: 最頻値
- freq: 最頻値の出現回数

####### 観点
- Unique であるべき Data が、実際にそうなっているか（重複がないか）
- 除外されるべき Data が含まれていないか（静岡県以外の Data がないか）
- Master で定義されている Code値の種類（unique）が妥当か。

###### Data の所感
- 重複した Data はない: 「sequenceNumber」, 「corporateNumber」の count と unique が同数。
- 静岡県の Data だけ: Master の Code値の種類は未確認だが process や correct の unique数を見る限り妥当と判断。

In [21]:
# 欠損値の確認
data.isna()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114608,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,True,True,True,True,False,False
114609,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,True,True,True,True,False,False
114610,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,True,True,True,True,False,False
114611,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,True,True,True,True,False,False
114612,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False,False,True,True,True,True,True,True,False,False,True,True,True,True,False,False

In [22]:
# 欠損値の数を項目ごとに集計
print(data.isna().sum())

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113370
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113418
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114613
addressOutsideImageId       114613
closeDate                   104536
closeCause                  104536
successorCorporateNumber    113947
changeCause                 113502
assignmentDate                   0
latest                           0
enName                      114381
enPrefectureName            114383
enCityName                  114383
enAddressOutside            114613
furigana                     67993
hihyoji                          0
dtype: int64

郵便番号（postCode）に欠損値が存在しているため、今回の Data から住所録を作成する場合、注意する。

## 繰り返し処理で新しい Data を追加しよう

In [23]:
import os
data_url = './sample_file/100knock-process-visualization/chapter-1/data'
os.listdir(data_url)

['mst_correct_kbn.csv',
 '22_shizuoka_all_20210331.csv',
 'diff_20210408.csv',
 'mst_closeCause.csv',
 'mst_column_name.txt',
 'diff_20210401.csv',
 'diff_20210409.csv',
 'diff_20210407.csv',
 'mst_latest.csv',
 'mst_corp_kind.csv',
 'diff_20210406.csv',
 'diff_20210405.csv',
 'mst_hihyoji.csv',
 'mst_process_kbn.csv']

In [24]:
from glob import glob  # `glab`: ある Pattern に match するかたまりを取得する Library
diff_files = glob(f'{data_url}/diff*.csv')
diff_files

['./sample_file/100knock-process-visualization/chapter-1/data/diff_20210408.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210401.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210409.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210407.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210406.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210405.csv']

In [25]:
diff_files.sort()
diff = pd.read_csv(diff_files[0], encoding='shift-jis', header=None, dtype=object)
display(diff.shape)
diff.head(3)

(2316, 30)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29
0,1,1010001016019,71,0,2021-04-01,2021-03-01,株式会社国際漢方研究所,NaN,301,東京都,千代田区,内神田３丁目６番１号,NaN,13,101,1010047,NaN,NaN,NaN,NaN,NaN,令和３年３月１日東京都渋谷区千駄ヶ谷五丁目２９番１１号ナカニシビル６０２号室株式会社Ｉｎｔｅ...,2015-10-05,1,NaN,NaN,NaN,NaN,コクサイカンポウケンキュウショ,0
1,2,1010001092869,01,1,2021-04-01,2020-06-11,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,千代田区,大手町１丁目１番２号りそな銀行内,NaN,13,101,1000004,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-11,0,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0
2,3,1010001092869,21,0,2021-04-01,2021-03-22,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,千代田区,大手町１丁目１番２号りそな銀行内,NaN,13,101,1000004,NaN,NaN,2021-03-22,01,NaN,NaN,2020-06-11,1,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0

In [26]:
# 静岡県の Data に絞り込む
diff.columns = columns
diff = diff.loc[diff['prefectureName'] == '静岡県']
display(diff.shape)
diff.head(3)

(43, 30)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
107,108,1080001015906,01,1,2021-04-01,2015-10-05,株式会社エムケイテック,NaN,301,静岡県,焼津市,策牛９８番地の２,NaN,22,212,4250007,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,0,NaN,NaN,NaN,NaN,エムケイテック,0
108,109,1080001015906,12,1,2021-04-01,2021-03-30,株式会社エムケイテック,NaN,301,静岡県,藤枝市,岡部桂島９８５番地の５,NaN,22,214,4260000,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エムケイテック,0
109,110,1080002015434,01,1,2021-04-01,2015-10-05,有限会社ハイナンＤＣ,NaN,302,静岡県,牧之原市,大沢１４４番地９,NaN,22,226,4210526,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ハイナンディーシー,0

In [27]:
# Data を結合する
data_test = data  # Test用の変数に data を copy
print(data_test.shape[0])  # 既存の件数を確認
print(data_test.shape[0] == data.shape[0])  # 既存の件数が正しいことを確認
print(diff.shape[0])  # 差分の件数を確認
data_test = data_test.append(diff)  # Test用の変数に差分Data を追加
print(data_test.shape[0])  # 追加後の件数を確認
data_test.tail(3)

114613
True
43
114656

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
2159,2160,9080401024929,01,0,2021-04-01,2021-04-01,株式会社リガーレ,NaN,301,静岡県,浜松市中区,鍛冶町３１９番地の２４,NaN,22,131,4300933,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-01,1,NaN,NaN,NaN,NaN,リガーレ,0
2160,2161,9080402007726,01,1,2021-04-01,2015-10-05,有限会社丸信商店,NaN,302,静岡県,浜松市中区,天神町４番８号,NaN,22,131,4300808,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,マルシンショウテン,0
2161,2162,9080402021917,21,0,2021-04-01,2021-03-30,有限会社岡本商会,NaN,302,静岡県,袋井市,梅山３６１番地の１,NaN,22,216,4371105,NaN,NaN,2021-03-30,01,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,オカモトショウカイ,0

結合前後の件数表示は、正しさの検証。
件数の証明はどこにいっても求められるので、確認する癖をつける

In [28]:
# 繰り返し処理する
for f in diff_files:
    diff = pd.read_csv(f, encoding='shift-jis', header=None, dtype=object)
    diff.columns = columns
    diff = diff.loc[diff['prefectureName'] == '静岡県']
    data = data.append(diff)

data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,磐田市,国府台３−１,NaN,22,211,4380077,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,焼津市,本町２丁目１６−３２,NaN,22,212,4250022,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3194,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,静岡市葵区,太田町１４番地の４,NaN,22,101,4200845,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-07,1,NaN,NaN,NaN,NaN,アクト,0
3195,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,沼津市,大岡２５５番地の１５,NaN,22,203,4100022,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-09,1,NaN,NaN,NaN,NaN,レスカ,0
3196,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,伊豆の国市,奈古谷６６３番地の２,NaN,22,225,4102132,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,サクラキュウソウ,0
3197,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,浜松市南区,下江町４５６番地の１,NaN,22,134,4300825,NaN,NaN,2021-04-01,11,8080401016019,令和３年４月１日静岡県磐田市安久路二丁目２番地の２まごころ株式会社（808040101601...,2015-10-05,1,NaN,NaN,NaN,NaN,コウボウ,0
3198,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,浜松市西区,大人見町３３７４番地の１,NaN,22,133,4311112,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エコワークス,0

In [29]:
# 改めて統計量と欠損値を確認する
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,115020,115020,115020,115020,115020,115020,115020,1246,115020,115020,115020,115003,1198,115020,115020,114847,0,0,10108,10108,678,1130,115020,115020,233,231,231,0,47018,115020
unique,114613,114758,6,2,1322,1351,106019,1245,9,1,46,99862,1195,1,48,2772,0,0,1334,4,581,1067,1334,2,232,1,130,0,41577,2
top,3032,7080402010509,01,0,2015-11-13,2015-10-05,八幡神社,00067824,301,静岡県,浜松市中区,新貝町２３９番地の１,00080159,22,131,4100022,NaN,NaN,2016-02-08,01,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,4,5,94398,80949,55969,83411,171,2,51474,115020,10020,51,2,115020,10020,735,NaN,NaN,509,7661,12,12,101546,114985,2,231,10,NaN,30,114795

sequenceNumber と corporateNumber の count と unique が一致しなくなった。
corporateNumber は法人番号なので、既存の法人に何かしらの変更が加わり、差分Data として情報が追加されたと推測される。

In [30]:
# 重複した Data を具体的に確認する
display(data[data['corporateNumber'].duplicated()])  # .duplicated()関数で重複Data を取得

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
107,108,1080001015906,01,1,2021-04-01,2015-10-05,株式会社エムケイテック,NaN,301,静岡県,焼津市,策牛９８番地の２,NaN,22,212,4250007,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,0,NaN,NaN,NaN,NaN,エムケイテック,0
108,109,1080001015906,12,1,2021-04-01,2021-03-30,株式会社エムケイテック,NaN,301,静岡県,藤枝市,岡部桂島９８５番地の５,NaN,22,214,4260000,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エムケイテック,0
109,110,1080002015434,01,1,2021-04-01,2015-10-05,有限会社ハイナンＤＣ,NaN,302,静岡県,牧之原市,大沢１４４番地９,NaN,22,226,4210526,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ハイナンディーシー,0
110,111,1080105005588,12,0,2021-04-01,2021-03-25,認定特定非営利活動法人ＲＥＡＬＥ ＷＯＲＬＤ,NaN,399,静岡県,伊東市,富戸１３１７番地５０３０,NaN,22,208,4130231,NaN,NaN,NaN,NaN,NaN,NaN,2015-12-11,1,NaN,NaN,NaN,NaN,レアーレワールド,0
113,114,1080403003401,21,0,2021-04-01,2021-03-02,合同会社ポップスターインポート,NaN,305,静岡県,浜松市中区,元浜町３２番地の１−２０２,NaN,22,131,4300942,NaN,NaN,2021-03-02,11,2080401020653,令和３年３月２日浜松市中区元浜町３２番地の１株式会社ポップスタージャパン（208040102...,2017-02-17,1,NaN,NaN,NaN,NaN,ポップスターインポート,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,3194,9080001004208,01,1,2021-04-09,2015-10-05,株式会社葉桐,NaN,301,静岡県,静岡市葵区,足久保口組１７３３番地の１,NaN,22,101,4212124,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ハギリ,0
3194,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,静岡市葵区,太田町１４番地の４,NaN,22,101,4200845,NaN,NaN,NaN,NaN,NaN,NaN,2017-07-07,1,NaN,NaN,NaN,NaN,アクト,0
3196,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,伊豆の国市,奈古谷６６３番地の２,NaN,22,225,4102132,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,サクラキュウソウ,0
3197,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,浜松市南区,下江町４５６番地の１,NaN,22,134,4300825,NaN,NaN,2021-04-01,11,8080401016019,令和３年４月１日静岡県磐田市安久路二丁目２番地の２まごころ株式会社（808040101601...,2015-10-05,1,NaN,NaN,NaN,NaN,コウボウ,0
3198,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,浜松市西区,大人見町３３７４番地の１,NaN,22,133,4311112,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エコワークス,0

表示された件数を見ると count と unique の数の差と一致している。

In [31]:
# 重複Data を削除する。差分Data の方が新しいため、既存Data を削除して差分Data を残す。
data.drop_duplicates(subset='corporateNumber', keep='last', inplace=True)
# drop_duplicates()関数で重複削除できる
# 引数 keep='last' で重複した場合に最終行を残すという指示ができる
# 引数 inplace=True を指定することで破壊的処理を行なえる

In [32]:
# 再度統計量を確認する
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114758,114758,114758,114758,114758,114758,114758,1245,114758,114758,114758,114741,1195,114758,114758,114585,0,0,10108,10108,678,1129,114758,114758,233,231,231,0,46900,114758
unique,114388,114758,6,2,1322,1351,105992,1245,9,1,46,99823,1195,1,48,2772,0,0,1334,4,581,1066,1334,2,232,1,130,0,41559,2
top,3032,1000013040008,01,0,2015-11-13,2015-10-05,八幡神社,00067214,301,静岡県,浜松市中区,新貝町２３９番地の１,00067259,22,131,4100022,NaN,NaN,2016-02-08,01,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,4,1,94176,80781,55849,83217,171,1,51331,114758,9994,51,1,114758,9994,734,NaN,NaN,509,7661,12,12,101319,114757,2,231,10,NaN,30,114533

corporateNumber の count と unique の数が一致し、重複がなくなったことが確認できた。

In [33]:
# 欠損値の確認
display(data.isna().sum())

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113513
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113563
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114758
addressOutsideImageId       114758
closeDate                   104650
closeCause                  104650
successorCorporateNumber    114080
changeCause                 113629
assignmentDate                   0
latest                           0
enName                      114525
enPrefectureName            114527
enCityName                  114527
enAddressOutside            114758
furigana                     67858
hihyoji                          0
dtype: int64

欠損値の項目はあるものの、特に問題のないものである。

## Master を読み込んで項目を横に繋げよう

In [34]:
os.listdir('./sample_file/100knock-process-visualization/chapter-1/data')

['mst_correct_kbn.csv',
 '22_shizuoka_all_20210331.csv',
 'diff_20210408.csv',
 'mst_closeCause.csv',
 'mst_column_name.txt',
 'diff_20210401.csv',
 'diff_20210409.csv',
 'diff_20210407.csv',
 'mst_latest.csv',
 'mst_corp_kind.csv',
 'diff_20210406.csv',
 'diff_20210405.csv',
 'mst_hihyoji.csv',
 'mst_process_kbn.csv']

In [35]:
mst_process_kbn = pd.read_csv('sample_file/100knock-process-visualization/chapter-1/data/mst_process_kbn.csv', dtype=object)
mst_process_kbn

  process process_kbn_name
0      01               新規
1      11        商号又は名称の変更
2      12         国内所在地の変更
3      13         国外所在地の変更
4      21         登記記録の閉鎖等
5      22         登記記録の復活等
6      71             吸収合併
7      72           吸収合併無効
8      81         商号の登記の抹消
9      99               削除

In [36]:
data = data.merge(mst_process_kbn, on='process', how='left')

In [37]:
print(len(data.columns))
data.head(3)

31

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規

In [38]:
mst_correct_kbn = pd.read_csv(f'sample_file/100knock-process-visualization/chapter-1/data/mst_correct_kbn.csv', encoding='shift-jis', dtype=object)
mst_correct_kbn

  correct correct_kbn_name
0       0             訂正以外
1       1               訂正

In [39]:
data = data.merge(mst_correct_kbn, on='correct', how='left')
print(data.columns.shape[0])
data.head(3)

32

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正

In [40]:
mst_corp_kind = pd.read_csv('sample_file/100knock-process-visualization/chapter-1/data/mst_corp_kind.csv', dtype=object)
mst_corp_kind

  kind corp_kind_name
0  101           国の機関
1  201         地方公共団体
2  301           株式会社
3  302           有限会社
4  303           合名会社
5  304           合資会社
6  305           合同会社
7  399     その他の設立登記法人
8  401          外国会社等
9  499            その他

In [41]:
data = data.merge(mst_corp_kind, on='kind', how='left')
print(data.columns.shape[0])
data.head(3)

33

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関

In [42]:
mst_close_cause = pd.read_csv('sample_file/100knock-process-visualization/chapter-1/data/mst_closeCause.csv', dtype=object)
mst_close_cause

  closeCause closeCause_name
0         01          清算の結了等
1         11        合併による解散等
2         21        登記官による閉鎖
3         31      その他の清算の結了等

In [43]:
data = data.merge(mst_close_cause, on='closeCause', how='left')
print(data.shape[0])
data.head(3)

114758

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN

In [44]:
mst_latest = pd.read_csv('sample_file/100knock-process-visualization/chapter-1/data/mst_latest.csv', dtype=object)
mst_latest

  latest latest_name
0      0        過去情報
1      1        最新情報

In [45]:
data = data.merge(mst_latest, on='latest', how='left')
print(data.shape[0])
data.head(3)

114758

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報

In [46]:
mst_hihyoji = pd.read_csv('sample_file/100knock-process-visualization/chapter-1/data/mst_hihyoji.csv', dtype=object)
mst_hihyoji

  hihyoji hihyoji_name
0       0         検索対象
1       1       検索対象除外

In [47]:
data = data.merge(mst_hihyoji, on='hihyoji', how='left')
print(data.shape[0])
data.head(3)

114758

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象

## Text の連結や分割をしよう

In [48]:
# 分割対象の項目に欠損値がないか確認
display(data[['prefectureName', 'cityName', 'streetNumber']].isna().sum())

prefectureName     0
cityName           0
streetNumber      17
dtype: int64

In [49]:
# 欠損値を考慮しない方法で連結する
data['address'] = data['prefectureName'] + data['cityName'] + data['streetNumber']
print(data.columns.shape[0])
data.head(3)

37

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市葵区城内町１−２０
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５

In [50]:
# 欠損値の項目がどうなったか確認
data.loc[data['streetNumber'].isna()].head(3)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address
3898,3909,1080005006629,01,0,2015-11-13,2015-10-05,保証責任尾羽愛郷負債整理組合,NaN,399,静岡県,静岡市清水区,NaN,NaN,22,103,4220000,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,NaN
16621,16657,2080005006628,01,0,2015-11-13,2015-10-05,保証責任原下河原負債整理組合,NaN,399,静岡県,静岡市清水区,NaN,NaN,22,103,4220000,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,NaN
20848,20889,2080105004250,01,1,2019-07-05,2015-10-05,保證責任對島村負債整理組合,NaN,399,静岡県,伊東市,NaN,NaN,22,208,4140000,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ホショウセキニンタジマムラフサイセイリクミアイ,1,新規,訂正,その他の設立登記法人,NaN,最新情報,検索対象除外,NaN

In [51]:
# 丁目番地等が欠損値の Data を抽出し、その Data には都道府県と市町村だけ連結
data['address'].loc[data['streetNumber'].isna()] = data['prefectureName'] + data['cityName']

In [52]:
# 結果の確認
print(data['address'].isna().sum())
data.loc[data['streetNumber'].isna()].head(3)

0

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address
3898,3909,1080005006629,01,0,2015-11-13,2015-10-05,保証責任尾羽愛郷負債整理組合,NaN,399,静岡県,静岡市清水区,NaN,NaN,22,103,4220000,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,静岡県静岡市清水区
16621,16657,2080005006628,01,0,2015-11-13,2015-10-05,保証責任原下河原負債整理組合,NaN,399,静岡県,静岡市清水区,NaN,NaN,22,103,4220000,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,NaN,1,新規,訂正以外,その他の設立登記法人,NaN,最新情報,検索対象除外,静岡県静岡市清水区
20848,20889,2080105004250,01,1,2019-07-05,2015-10-05,保證責任對島村負債整理組合,NaN,399,静岡県,伊東市,NaN,NaN,22,208,4140000,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ホショウセキニンタジマムラフサイセイリクミアイ,1,新規,訂正,その他の設立登記法人,NaN,最新情報,検索対象除外,静岡県伊東市

In [53]:
# 欠損値でなかった Data に影響していないか確認
data.head(3)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市葵区城内町１−２０
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５

In [54]:
# 郵便番号７桁を前３桁と後４桁に分割

# 郵便番号の前３桁を slice する
data['postCode_head'] = data['postCode'].str[:3]
print(data.columns.shape[0])
data.head(3)

38

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市葵区城内町１−２０,420
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430

In [55]:
# 郵便番号後４桁を slice する
data['postCode_tail'] = data['postCode'].str[-4:]
print(data.columns.shape[0])
data.head(3)

39

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市葵区城内町１−２０,420,0854
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaN,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929

## 日付を加工しよう

In [56]:
# 日付項目を計算してみる
data['closeDate'] - data['assignmentDate']

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [57]:
# １項目だけ日時型に変換
tmp = pd.to_datetime(data['closeDate'])
tmp.dtypes

dtype('<M8[ns]')

In [58]:
# ４つの日付項目を繰り返し処理で型変換
dt_columns = ['updateDate', 'changeDate', 'closeDate', 'assignmentDate']
for col in dt_columns:
    data[col] = pd.to_datetime(data[col])

In [59]:
# 各項目の型を確認
display(data.dtypes)

sequenceNumber                      object
corporateNumber                     object
process                             object
correct                             object
updateDate                  datetime64[ns]
changeDate                  datetime64[ns]
name                                object
nameImageId                         object
kind                                object
prefectureName                      object
cityName                            object
streetNumber                        object
addressImageId                      object
prefectureCode                      object
cityCode                            object
postCode                            object
addressOutside                      object
addressOutsideImageId               object
closeDate                   datetime64[ns]
closeCause                          object
successorCorporateNumber            object
changeCause                         object
assignmentDate              datetime64[ns]
latest                              object
enName                              object
enPrefectureName                    object
enCityName                          object
enAddressOutside                    object
furigana                            object
hihyoji                             object
process_kbn_name                    object
correct_kbn_name                    object
corp_kind_name                      object
closeCause_name                     object
latest_name                         object
hihyoji_name                        object
address                             object
postCode_head                       object
postCode_tail                       object
dtype: object

In [60]:
# 日付の計算、再び
data['corporate_life'] = data['closeDate'] - data['assignmentDate']
print(data.columns.shape[0])
data.head(3)

40

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市葵区城内町１−２０,420,0854,NaT
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809,NaT
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929,NaT

NaT が設定 = 計算に使用した日付項目のどちらかが欠損値であった。

In [61]:
# closeDate が欠損値でない Data に絞って表示
tmp = data.loc[data['closeDate'].notna()]  # notna()関数: 欠損値ではない Data という条件分岐
print(len(tmp))
tmp.head(3)

10108

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life
32,33,1010001102636,21,0,2021-02-08,2021-02-02,Ｈ・Ｍ・Ｃ株式会社,NaN,301,静岡県,駿東郡長泉町,東野字八分平５１５番９１,NaN,22,342,4110931,NaN,NaN,2021-02-02,11,2010001013246,令和３年２月１日静岡県駿東郡長泉町東野字八分平５１５番９１オーシーインベストメント株式会社（...,2015-10-05,1,NaN,NaN,NaN,NaN,エイチエムシー,0,登記記録の閉鎖等,訂正以外,株式会社,合併による解散等,最新情報,検索対象,静岡県駿東郡長泉町東野字八分平５１５番９１,411,0931,1947 days
37,38,1010001144901,21,0,2020-11-10,2020-11-05,エス・ジー・トラスト株式会社,NaN,301,静岡県,駿東郡長泉町,東野字八分平５１５番９１,NaN,22,342,4110931,NaN,NaN,2020-11-05,11,3010001012593,令和２年１１月１日静岡県駿東郡長泉町東野字八分平５１５番９１エム・ケー・シー株式会社（301...,2015-10-05,1,NaN,NaN,NaN,NaN,エスジートラスト,0,登記記録の閉鎖等,訂正以外,株式会社,合併による解散等,最新情報,検索対象,静岡県駿東郡長泉町東野字八分平５１５番９１,411,0931,1858 days
38,39,1010001148290,21,0,2018-03-13,2018-03-07,株式会社秀地ゴルフマネージメント,NaN,301,静岡県,駿東郡小山町,須走４９３番地,NaN,22,344,4101431,NaN,NaN,2018-03-07,11,2011101044783,平成３０年３月１日東京都新宿区舟町１番地シティータワー四谷２１０３株式会社秀地コーポレーショ...,2015-10-05,1,NaN,NaN,NaN,NaN,NaN,0,登記記録の閉鎖等,訂正以外,株式会社,合併による解散等,最新情報,検索対象,静岡県駿東郡小山町須走４９３番地,410,1431,884 days

In [62]:
# 関連性のある項目同士が互いに漏れなく設定されているか確認
data.loc[data['closeCause'].notna()].shape[0] == data.loc[data['closeDate'].notna()].shape[0]

True

信頼できる System から連携された Data であれば問題ないが、そうえない場合は、Data を作る過程で誤りが発生していないか、という点に注意する。

In [63]:
# １項目だけ年月項目を追加
data['update_YM'] = data['updateDate'].dt.to_period('M')
print(data.columns.shape[0])
data.head()

41

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life,update_YM
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市葵区城内町１−２０,420,0854,NaT,2018-04
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809,NaT,2018-04
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929,NaT,2018-04
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,磐田市,国府台３−１,NaN,22,211,4380077,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県磐田市国府台３−１,438,0077,NaT,2018-04
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,焼津市,本町２丁目１６−３２,NaN,22,212,4250022,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0,新規,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県焼津市本町２丁目１６−３２,425,0022,NaT,2018-04

In [64]:
data[['updateDate', 'update_YM']]

       updateDate update_YM
0      2018-04-02   2018-04
1      2018-04-02   2018-04
2      2018-04-02   2018-04
3      2018-04-05   2018-04
4      2018-04-05   2018-04
...           ...       ...
114753 2021-04-09   2021-04
114754 2021-04-09   2021-04
114755 2021-04-09   2021-04
114756 2021-04-09   2021-04
114757 2021-04-09   2021-04

[114758 rows x 2 columns]

In [65]:
# 残りの日付項目も同様に、年月項目を作成
dt_prefixes = ['assignment', 'change', 'update', 'close']
for pre in dt_prefixes:
    data[f'{pre}_YM'] = data[f'{pre}Date'].dt.to_period('M')

In [66]:
# Data の確認
data.head()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life,update_YM,assignment_YM,change_YM,close_YM
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市葵区城内町１−２０,420,0854,NaT,2018-04,2015-10,2015-10,NaT
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809,NaT,2018-04,2015-10,2015-10,NaT
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929,NaT,2018-04,2015-10,2015-10,NaT
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,磐田市,国府台３−１,NaN,22,211,4380077,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0,新規,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県磐田市国府台３−１,438,0077,NaT,2018-04,2015-10,2015-10,NaT
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,焼津市,本町２丁目１６−３２,NaN,22,212,4250022,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0,新規,訂正,地方公共団体,NaN,最新情報,検索対象,静岡県焼津市本町２丁目１６−３２,425,0022,NaT,2018-04,2015-10,2015-10,NaT

In [67]:
# Data型の確認
print(data.dtypes)

sequenceNumber                       object
corporateNumber                      object
process                              object
correct                              object
updateDate                   datetime64[ns]
changeDate                   datetime64[ns]
name                                 object
nameImageId                          object
kind                                 object
prefectureName                       object
cityName                             object
streetNumber                         object
addressImageId                       object
prefectureCode                       object
cityCode                             object
postCode                             object
addressOutside                       object
addressOutsideImageId                object
closeDate                    datetime64[ns]
closeCause                           object
successorCorporateNumber             object
changeCause                          object
assignmentDate               datetime64[ns]
latest                               object
enName                               object
enPrefectureName                     object
enCityName                           object
enAddressOutside                     object
furigana                             object
hihyoji                              object
process_kbn_name                     object
correct_kbn_name                     object
corp_kind_name                       object
closeCause_name                      object
latest_name                          object
hihyoji_name                         object
address                              object
postCode_head                        object
postCode_tail                        object
corporate_life              timedelta64[ns]
update_YM                         period[M]
assignment_YM                     period[M]
change_YM                         period[M]
close_YM                          period[M]
dtype: object

## 年度を設定しよう

In [68]:
# 更新日付に絞って、更新年度を設定する
data['update_year'] = pd.DatetimeIndex(data['updateDate']).year  # 更新日付から年を取得
data['update_month'] = pd.DatetimeIndex(data['updateDate']).month  # 更新日付から月を取得
data['update_fiscal_year'] = pd.DatetimeIndex(data['updateDate']).year  # 更新年度に取得した年を設定
data.loc[data['update_month'] < 4, 'update_fiscal_year'] -= 1  # 更新年月が３月までは更新年度 -1

In [69]:
# 確認
print(data.columns.shape[0])
data.head(3)

47

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life,update_YM,assignment_YM,change_YM,close_YM,update_year,update_month,update_fiscal_year
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市葵区城内町１−２０,420,0854,NaT,2018-04,2015-10,2015-10,NaT,2018,4,2018
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809,NaT,2018-04,2015-10,2015-10,NaT,2018,4,2018
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929,NaT,2018-04,2015-10,2015-10,NaT,2018,4,2018

In [70]:
# 年度の計算が合っているか確認
for i in range(12):
    display(data[['update_YM', 'update_fiscal_year']].loc[data['update_month'] == i+1 ][:1])

   update_YM  update_fiscal_year
45   2019-01                2018

   update_YM  update_fiscal_year
32   2021-02                2020

   update_YM  update_fiscal_year
30   2021-03                2020

  update_YM  update_fiscal_year
0   2018-04                2018

   update_YM  update_fiscal_year
47   2017-05                2017

   update_YM  update_fiscal_year
34   2018-06                2018

   update_YM  update_fiscal_year
57   2018-07                2018

   update_YM  update_fiscal_year
29   2018-08                2018

  update_YM  update_fiscal_year
5   2020-09                2020

   update_YM  update_fiscal_year
42   2019-10                2019

   update_YM  update_fiscal_year
27   2015-11                2015

   update_YM  update_fiscal_year
28   2017-12                2017

## 加工した Data を File に出力しよう

In [71]:
# Directory の作成
output_dir = 'data/output'
os.makedirs(output_dir, exist_ok=True)  # 引数 exist_ok=True を記述すると、対象 Directory が既に存在する場合でも Error になることを防いでくれる

In [72]:
# csv file 出力
output_file = 'processed_shizuoka.csv'

data.to_csv(os.path.join(output_dir, output_file), index=False)
# os.path.join(): 第１引数: Directory と File 名を連結, 第２引数: index=False で Index の出力をされないように指定

In [ ]:
# Excel file 出力
output_file = output_file.replace('.csv', '.xlsx')
data.to_excel(os.path.join(output_dir, output_file), index=False)

## 不要な項目の削除と並べ替えをしよう

In [73]:
# 現在の Data 状態を確認
print(data.columns.shape[0])
print(data.columns)
data.head(3)

47
Index(['sequenceNumber', 'corporateNumber', 'process', 'correct', 'updateDate',
       'changeDate', 'name', 'nameImageId', 'kind', 'prefectureName',
       'cityName', 'streetNumber', 'addressImageId', 'prefectureCode',
       'cityCode', 'postCode', 'addressOutside', 'addressOutsideImageId',
       'closeDate', 'closeCause', 'successorCorporateNumber', 'changeCause',
       'assignmentDate', 'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji', 'process_kbn_name',
       'correct_kbn_name', 'corp_kind_name', 'closeCause_name', 'latest_name',
       'hihyoji_name', 'address', 'postCode_head', 'postCode_tail',
       'corporate_life', 'update_YM', 'assignment_YM', 'change_YM', 'close_YM',
       'update_year', 'update_month', 'update_fiscal_year'],
      dtype='object')

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,cityName,streetNumber,addressImageId,prefectureCode,cityCode,postCode,addressOutside,addressOutsideImageId,closeDate,closeCause,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji,process_kbn_name,correct_kbn_name,corp_kind_name,closeCause_name,latest_name,hihyoji_name,address,postCode_head,postCode_tail,corporate_life,update_YM,assignment_YM,change_YM,close_YM,update_year,update_month,update_fiscal_year
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,静岡市葵区,城内町１−２０,NaN,22,101,4200854,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市葵区城内町１−２０,420,0854,NaT,2018-04,2015-10,2015-10,NaT,2018,4,2018
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,静岡市清水区,天神１丁目６−１５,NaN,22,103,4240809,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県静岡市清水区天神１丁目６−１５,424,0809,NaT,2018-04,2015-10,2015-10,NaT,2018,4,2018
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,浜松市中区,中央１丁目１２−５,NaN,22,131,4300929,NaN,NaN,NaT,NaN,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0,新規,訂正,国の機関,NaN,最新情報,検索対象,静岡県浜松市中区中央１丁目１２−５,430,0929,NaT,2018-04,2015-10,2015-10,NaT,2018,4,2018

In [74]:
# Column の削除と並び替え
data = data[['cityName', 'corporateNumber', 'name', 'corp_kind_name', 'process', 'process_kbn_name', 'assignmentDate', 'updateDate', 'update_fiscal_year', 'update_YM']]

In [75]:
# Columns の整理後の Data 状態
print(data.columns.shape[0])
print(data.columns)
data.head(3)

10
Index(['cityName', 'corporateNumber', 'name', 'corp_kind_name', 'process',
       'process_kbn_name', 'assignmentDate', 'updateDate',
       'update_fiscal_year', 'update_YM'],
      dtype='object')

,cityName,corporateNumber,name,corp_kind_name,process,process_kbn_name,assignmentDate,updateDate,update_fiscal_year,update_YM
0,静岡市葵区,1000013040008,静岡家庭裁判所,国の機関,01,新規,2015-10-05,2018-04-02,2018,2018-04
1,静岡市清水区,1000013050072,清水簡易裁判所,国の機関,01,新規,2015-10-05,2018-04-02,2018,2018-04
2,浜松市中区,1000013050080,浜松簡易裁判所,国の機関,01,新規,2015-10-05,2018-04-02,2018,2018-04

In [76]:
# 1 column だけ削除
data.drop(columns='process', inplace=True)
print(data.columns)
data.head(3)

Index(['cityName', 'corporateNumber', 'name', 'corp_kind_name',
       'process_kbn_name', 'assignmentDate', 'updateDate',
       'update_fiscal_year', 'update_YM'],
      dtype='object')

,cityName,corporateNumber,name,corp_kind_name,process_kbn_name,assignmentDate,updateDate,update_fiscal_year,update_YM
0,静岡市葵区,1000013040008,静岡家庭裁判所,国の機関,新規,2015-10-05,2018-04-02,2018,2018-04
1,静岡市清水区,1000013050072,清水簡易裁判所,国の機関,新規,2015-10-05,2018-04-02,2018,2018-04
2,浜松市中区,1000013050080,浜松簡易裁判所,国の機関,新規,2015-10-05,2018-04-02,2018,2018-04

## まとまった単位で集計しよう

In [77]:
# 法人種別で Grouping した状態
tmp = data.groupby('corp_kind_name').size()  # .size(): Data 件数を数える
print(tmp)

corp_kind_name
その他             498
その他の設立登記法人    14346
合同会社           3589
合名会社            244
合資会社           1668
国の機関             16
地方公共団体          192
有限会社          42874
株式会社          51331
dtype: int64

In [78]:
# Grouping した Data の並べ替え
tmp.sort_values(inplace=True, ascending=False)
print(tmp)

corp_kind_name
株式会社          51331
有限会社          42874
その他の設立登記法人    14346
合同会社           3589
合資会社           1668
その他             498
合名会社            244
地方公共団体          192
国の機関             16
dtype: int64

In [83]:
# 更新年度で Grouping
tmp = data.groupby('update_fiscal_year').size()
print(tmp)

update_fiscal_year
2015    57710
2016     4370
2017     4038
2018    20927
2019    14973
2020    12370
2021      370
dtype: int64

年度ごとの Data 件数を確認すると最も古い Data でも2015年であることが確認できる。
= あくまで法人番号が登録、更新された年月であり創業日をあらわすものではないということが理解できる。

In [85]:
# 複数項目で Grouping
tmp = data.groupby(['update_fiscal_year', 'corp_kind_name']).size()
print(tmp)

update_fiscal_year  corp_kind_name
2015                その他の設立登記法人         6602
                    合同会社                889
                    合名会社                199
                    合資会社               1481
                    有限会社              30642
                    株式会社              17897
2016                その他                   3
                    その他の設立登記法人          274
                    合同会社                310
                    合名会社                  5
                    合資会社                 27
                    有限会社               1416
                    株式会社               2335
2017                その他の設立登記法人          246
                    合同会社                351
                    合名会社                  3
                    合資会社                 21
                    有限会社               1249
                    株式会社               2168
2018                その他                 428
                    その他の設立登記法人         4256
                    合同会社                615
                    合名会社                 19
                    合資会社                 58
                    国の機関                 16
                    地方公共団体               64
                    有限会社               3468
                    株式会社              12003
2019                その他                  28
                    その他の設立登記法人         1754
                    合同会社                635
                    合名会社                  9
                    合資会社                 47
                    有限会社               3059
                    株式会社               9441
2020                その他                  38
                    その他の設立登記法人         1185
                    合同会社                747
                    合名会社                  7
                    合資会社                 34
                    地方公共団体              128
                    有限会社               2965
                    株式会社               7266
2021                その他                   1
                    その他の設立登記法人           29
                    合同会社                 42
                    合名会社                  2
                    有限会社                 75
                    株式会社                221
dtype: int64

Group化が扱えるようになると、大量の Data も簡単に集計できる。

In [86]:
# Pivot table
pt_data = pd.pivot_table(data, index='corp_kind_name', columns='update_fiscal_year', aggfunc='size')
pt_data

update_fiscal_year     2015    2016    2017     2018    2019    2020   2021
corp_kind_name
その他                     NaN     3.0     NaN    428.0    28.0    38.0    1.0
その他の設立登記法人           6602.0   274.0   246.0   4256.0  1754.0  1185.0   29.0
合同会社                  889.0   310.0   351.0    615.0   635.0   747.0   42.0
合名会社                  199.0     5.0     3.0     19.0     9.0     7.0    2.0
合資会社                 1481.0    27.0    21.0     58.0    47.0    34.0    NaN
国の機関                    NaN     NaN     NaN     16.0     NaN     NaN    NaN
地方公共団体                  NaN     NaN     NaN     64.0     NaN   128.0    NaN
有限会社                30642.0  1416.0  1249.0   3468.0  3059.0  2965.0   75.0
株式会社                17897.0  2335.0  2168.0  12003.0  9441.0  7266.0  221.0

Pivot table を使うと、Group化とは異なる方法で簡単に集計できる