# 構造化 Data

#### Master data
System 上で固定する Data.
#### Transaction data
中身が一定でない Data.

## 法人情報 Data を読み込んでみよう

In [47]:
import warnings

warnings.filterwarnings('ignore')

import pandas as pd
from IPython.display import display

In [2]:
data = pd.read_csv('data/22_shizuoka_all_20210331.csv', encoding='shift-jis', header=None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,1,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,1,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,1,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,1,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,1,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [4]:
len(data)

114613

In [5]:
len(data)

114613

## 読み込んだ Data を確認しよう

In [6]:
data.columns
# columns は属性。関数や Method ではないので .columns()のように () はつけない。

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
           dtype='int64')

In [7]:
len(data.columns)

30

In [8]:
print(data.dtypes)

0       int64
1       int64
2       int64
3       int64
4      object
5      object
6      object
7     float64
8       int64
9      object
10     object
11     object
12    float64
13      int64
14      int64
15    float64
16    float64
17    float64
18     object
19    float64
20    float64
21     object
22     object
23      int64
24     object
25     object
26     object
27    float64
28     object
29      int64
dtype: object

In [9]:
data = pd.read_csv('data/22_shizuoka_all_20210331.csv',
                   encoding='shift-jis', header=None, dtype=object)

In [10]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

In [11]:
print(data.dtypes)

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
23    object
24    object
25    object
26    object
27    object
28    object
29    object
dtype: object

## Header 用の Text file を読み込もう

In [12]:
mst = pd.read_csv('data/mst_column_name.txt', encoding='shift-Jis')
mst.head

<bound method NDFrame.head of    column_id\tcolumn_name_ja\tcolumn_name_en
0                    1\t一連番号\tsequenceNumber
1                   2\t法人番号\tcorporateNumber
2                           3\t処理区分\tprocess
3                           4\t訂正区分\tcorrect
4                       5\t更新年月日\tupdateDate
5                       6\t変更年月日\tchangeDate
6                            7\t商号又は名称\tname
7               8\t商号又は名称イメージID\tnameImageId
8                              9\t法人種別\tkind
9            10\t国内所在地（都道府県）\tprefectureName
10                 11\t国内所在地（市区町村）\tcityName
11            12\t国内所在地（丁目番地等）\tstreetNumber
12           13\t国内所在地イメージID\taddressImageId
13               14\t都道府県コード\tprefectureCode
14                     15\t市区町村コード\tcityCode
15                        16\t郵便番号\tpostCode
16                 17\t国外所在地\taddressOutside
17    18\t国外所在地イメージID\taddressOutsideImageId
18                19\t登記記録の閉鎖等年月日\tcloseDate
19               20\t登記記録の閉鎖等の事由\tcloseCause
20     21\t承継先法人番号\tsuccessorCorporateNumber
21                  22\t変更事由の詳細\tchangeCause
22             23\t法人番号指定年月日\tassignmentDate
23                          24\t最新履歴\tlatest
24                  25\t商号又は名称（英語表記）\tenName
25   26\t国内所在地（都道府県）（英語表記）\tenPrefectureName
26     27\t国内所在地（市町村丁目番地等）（英語表記）\tenCityName
27         28\t国外所在地（英語表記）\tenAddressOutside
28                        29\tフリガナ\tfurigana
29                       30\t検索対象除外\thihyoji>

In [13]:
# \t で区切った状態で再度読み込む
mst = pd.read_csv('data/mst_column_name.txt', encoding='shift-jis', sep='\t')
mst.head()

   column_id column_name_ja   column_name_en
0          1           一連番号   sequenceNumber
1          2           法人番号  corporateNumber
2          3           処理区分          process
3          4           訂正区分          correct
4          5          更新年月日       updateDate

In [14]:
# Data 件数の確認
len(mst)

30

`data.columns` （項目数）と同じ件数であることを確認。

In [15]:
# 比較演算子で確認
len(mst) == len(data.columns)

True

## Header 行を追加しよう

In [16]:
columns = mst.column_name_en.values

In [17]:
display(columns)

array(['sequenceNumber', 'corporateNumber', 'process', 'correct',
       'updateDate', 'changeDate', 'name', 'nameImageId', 'kind',
       'prefectureName', 'cityName', 'streetNumber', 'addressImageId',
       'prefectureCode', 'cityCode', 'postCode', 'addressOutside',
       'addressOutsideImageId', 'closeDate', 'closeCause',
       'successorCorporateNumber', 'changeCause', 'assignmentDate',
       'latest', 'enName', 'enPrefectureName', 'enCityName',
       'enAddressOutside', 'furigana', 'hihyoji'], dtype=object)

In [18]:
data.columns = columns

In [19]:
data.head()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0

## 統計量や欠損値を確認しよう

In [20]:
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114613,114613,114613,114613,114613,114613,114613,1243,114613,114613,...,666,1111,114613,114613,232,230,230,0,46620,114613
unique,114613,114613,6,2,1316,1344,105857,1243,9,1,...,572,1051,1328,1,231,1,129,0,41339,2
top,1,1000013040008,01,0,2015-11-13,2015-10-05,八幡神社,00067214,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,1,1,94126,80704,55969,83291,171,1,51229,114613,...,12,12,101316,114613,2,230,10,NaN,30,114388

Data が全て Object型で定義しているため、数値の集計ではなく、Data の個数が数えられている。
- count: 要素の個数
- unique: unique な要素の個数
- top: 最頻値
- freq: 最頻値の出現回数

####### 観点
- Unique であるべき Data が、実際にそうなっているか（重複がないか）
- 除外されるべき Data が含まれていないか（静岡県以外の Data がないか）
- Master で定義されている Code値の種類（unique）が妥当か。

###### Data の所感
- 重複した Data はない: 「sequenceNumber」, 「corporateNumber」の count と unique が同数。
- 静岡県の Data だけ: Master の Code値の種類は未確認だが process や correct の unique数を見る限り妥当と判断。

In [21]:
# 欠損値の確認
data.isna()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114608,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114609,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114610,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114611,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False
114612,False,False,False,False,False,False,False,True,False,False,...,True,True,False,False,True,True,True,True,False,False

In [22]:
# 欠損値の数を項目ごとに集計
print(data.isna().sum())

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113370
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113418
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114613
addressOutsideImageId       114613
closeDate                   104536
closeCause                  104536
successorCorporateNumber    113947
changeCause                 113502
assignmentDate                   0
latest                           0
enName                      114381
enPrefectureName            114383
enCityName                  114383
enAddressOutside            114613
furigana                     67993
hihyoji                          0
dtype: int64

郵便番号（postCode）に欠損値が存在しているため、今回の Data から住所録を作成する場合、注意する。

## 繰り返し処理で新しい Data を追加しよう

In [26]:
import os
data_url = './sample_file/100knock-process-visualization/chapter-1/data'
os.listdir(data_url)

['mst_correct_kbn.csv',
 '22_shizuoka_all_20210331.csv',
 'diff_20210408.csv',
 'mst_closeCause.csv',
 'mst_column_name.txt',
 'diff_20210401.csv',
 'diff_20210409.csv',
 'diff_20210407.csv',
 'mst_latest.csv',
 'mst_corp_kind.csv',
 'diff_20210406.csv',
 'diff_20210405.csv',
 'mst_hihyoji.csv',
 'mst_process_kbn.csv']

In [28]:
from glob import glob  # `glab`: ある Pattern に match するかたまりを取得する Library
diff_files = glob(f'{data_url}/diff*.csv')
diff_files

['./sample_file/100knock-process-visualization/chapter-1/data/diff_20210408.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210401.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210409.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210407.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210406.csv',
 './sample_file/100knock-process-visualization/chapter-1/data/diff_20210405.csv']

In [31]:
diff_files.sort()
diff = pd.read_csv(diff_files[0], encoding='shift-jis', header=None, dtype=object)
display(diff.shape)
diff.head(3)

(2316, 30)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1,1010001016019,71,0,2021-04-01,2021-03-01,株式会社国際漢方研究所,NaN,301,東京都,...,NaN,令和３年３月１日東京都渋谷区千駄ヶ谷五丁目２９番１１号ナカニシビル６０２号室株式会社Ｉｎｔｅ...,2015-10-05,1,NaN,NaN,NaN,NaN,コクサイカンポウケンキュウショ,0
1,2,1010001092869,01,1,2021-04-01,2020-06-11,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,...,NaN,NaN,2020-06-11,0,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0
2,3,1010001092869,21,0,2021-04-01,2021-03-22,あさひ銀リテールファイナンス株式会社,NaN,301,東京都,...,NaN,NaN,2020-06-11,1,NaN,NaN,NaN,NaN,アサヒギンリテールファイナンス,0

In [38]:
# 静岡県の Data に絞り込む
diff.columns = columns
diff = diff.loc[diff['prefectureName'] == '静岡県']
display(diff.shape)
diff.head(3)

(43, 30)

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
107,108,1080001015906,01,1,2021-04-01,2015-10-05,株式会社エムケイテック,NaN,301,静岡県,...,NaN,NaN,2015-10-05,0,NaN,NaN,NaN,NaN,エムケイテック,0
108,109,1080001015906,12,1,2021-04-01,2021-03-30,株式会社エムケイテック,NaN,301,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エムケイテック,0
109,110,1080002015434,01,1,2021-04-01,2015-10-05,有限会社ハイナンＤＣ,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ハイナンディーシー,0

In [48]:
# Data を結合する
data_test = data  # Test用の変数に data を copy
print(data_test.shape[0])  # 既存の件数を確認
print(data_test.shape[0] == data.shape[0])  # 既存の件数が正しいことを確認
print(diff.shape[0])  # 差分の件数を確認
data_test = data_test.append(diff)  # Test用の変数に差分Data を追加
print(data_test.shape[0])  # 追加後の件数を確認
data_test.tail(3)

114613
True
43
114656

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
2159,2160,9080401024929,01,0,2021-04-01,2021-04-01,株式会社リガーレ,NaN,301,静岡県,...,NaN,NaN,2021-04-01,1,NaN,NaN,NaN,NaN,リガーレ,0
2160,2161,9080402007726,01,1,2021-04-01,2015-10-05,有限会社丸信商店,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,マルシンショウテン,0
2161,2162,9080402021917,21,0,2021-04-01,2021-03-30,有限会社岡本商会,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,オカモトショウカイ,0

結合前後の件数表示は、正しさの検証。
件数の証明はどこにいっても求められるので、確認する癖をつける

In [49]:
# 繰り返し処理する
for f in diff_files:
    diff = pd.read_csv(f, encoding='shift-jis', header=None, dtype=object)
    diff.columns = columns
    diff = diff.loc[diff['prefectureName'] == '静岡県']
    data = data.append(diff)

data

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
0,1,1000013040008,01,1,2018-04-02,2015-10-05,静岡家庭裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shizuoka Family Court,Shizuoka,"1-20, Jonaicho, Aoi ku, Shizuoka shi",NaN,シズオカカテイサイバンショ,0
1,2,1000013050072,01,1,2018-04-02,2015-10-05,清水簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Shimizu Summary Court,Shizuoka,"1-6-15, Tenjin, Shimizu ku, Shizuoka shi",NaN,シミズカンイサイバンショ,0
2,3,1000013050080,01,1,2018-04-02,2015-10-05,浜松簡易裁判所,NaN,101,静岡県,...,NaN,NaN,2015-10-05,1,Hamamatsu Summary Court,Shizuoka,"1-12-5, Chuo, Naka ku, Hamamatsu shi",NaN,ハママツカンイサイバンショ,0
3,4,1000020222119,01,1,2018-04-05,2015-10-05,磐田市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Iwata City,Shizuoka,"3-1,Kounodai, Iwata shi",NaN,イワタシ,0
4,5,1000020222127,01,1,2018-04-05,2015-10-05,焼津市,NaN,201,静岡県,...,NaN,NaN,2015-10-05,1,Yaizu city,Shizuoka,"2-16-32 Honmachi, Yaizu shi",NaN,ヤイヅシ,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3194,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,NaN,NaN,2017-07-07,1,NaN,NaN,NaN,NaN,アクト,0
3195,3196,9080101022431,01,0,2021-04-09,2021-04-09,株式会社ＬＥＳＱＵＡ,NaN,301,静岡県,...,NaN,NaN,2021-04-09,1,NaN,NaN,NaN,NaN,レスカ,0
3196,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,サクラキュウソウ,0
3197,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,8080401016019,令和３年４月１日静岡県磐田市安久路二丁目２番地の２まごころ株式会社（808040101601...,2015-10-05,1,NaN,NaN,NaN,NaN,コウボウ,0
3198,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エコワークス,0

In [51]:
# 改めて統計量と欠損値を確認する
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,115020,115020,115020,115020,115020,115020,115020,1246,115020,115020,...,678,1130,115020,115020,233,231,231,0,47018,115020
unique,114613,114758,6,2,1322,1351,106019,1245,9,1,...,581,1067,1334,2,232,1,130,0,41577,2
top,3032,7080402010509,01,0,2015-11-13,2015-10-05,八幡神社,00067824,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,4,5,94398,80949,55969,83411,171,2,51474,115020,...,12,12,101546,114985,2,231,10,NaN,30,114795

sequenceNumber と corporateNumber の count と unique が一致しなくなった。
corporateNumber は法人番号なので、既存の法人に何かしらの変更が加わり、差分Data として情報が追加されたと推測される。

In [55]:
# 重複した Data を具体的に確認する
display(data[data['corporateNumber'].duplicated()])  # .duplicated()関数で重複Data を取得

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
107,108,1080001015906,01,1,2021-04-01,2015-10-05,株式会社エムケイテック,NaN,301,静岡県,...,NaN,NaN,2015-10-05,0,NaN,NaN,NaN,NaN,エムケイテック,0
108,109,1080001015906,12,1,2021-04-01,2021-03-30,株式会社エムケイテック,NaN,301,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エムケイテック,0
109,110,1080002015434,01,1,2021-04-01,2015-10-05,有限会社ハイナンＤＣ,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ハイナンディーシー,0
110,111,1080105005588,12,0,2021-04-01,2021-03-25,認定特定非営利活動法人ＲＥＡＬＥ ＷＯＲＬＤ,NaN,399,静岡県,...,NaN,NaN,2015-12-11,1,NaN,NaN,NaN,NaN,レアーレワールド,0
113,114,1080403003401,21,0,2021-04-01,2021-03-02,合同会社ポップスターインポート,NaN,305,静岡県,...,2080401020653,令和３年３月２日浜松市中区元浜町３２番地の１株式会社ポップスタージャパン（208040102...,2017-02-17,1,NaN,NaN,NaN,NaN,ポップスターインポート,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3193,3194,9080001004208,01,1,2021-04-09,2015-10-05,株式会社葉桐,NaN,301,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,ハギリ,0
3194,3195,9080001021673,01,1,2021-04-09,2017-07-07,株式会社ＡＣＴ,NaN,301,静岡県,...,NaN,NaN,2017-07-07,1,NaN,NaN,NaN,NaN,アクト,0
3196,3197,9080102008933,01,1,2021-04-09,2015-10-05,有限会社サクラ急送,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,サクラキュウソウ,0
3197,3198,9080402002859,21,0,2021-04-09,2021-04-01,有限会社弘法,NaN,302,静岡県,...,8080401016019,令和３年４月１日静岡県磐田市安久路二丁目２番地の２まごころ株式会社（808040101601...,2015-10-05,1,NaN,NaN,NaN,NaN,コウボウ,0
3198,3199,9080402015836,12,0,2021-04-09,2021-04-01,有限会社エコワークス,NaN,302,静岡県,...,NaN,NaN,2015-10-05,1,NaN,NaN,NaN,NaN,エコワークス,0

表示された件数を見ると count と unique の数の差と一致している。

In [57]:
# 重複Data を削除する。差分Data の方が新しいため、既存Data を削除して差分Data を残す。
data.drop_duplicates(subset='corporateNumber', keep='last', inplace=True)
# drop_duplicates()関数で重複削除できる
# 引数 keep='last' で重複した場合に最終行を残すという指示ができる
# 引数 inplace=True を指定することで破壊的処理を行なえる

In [59]:
# 再度統計量を確認する
data.describe()

,sequenceNumber,corporateNumber,process,correct,updateDate,changeDate,name,nameImageId,kind,prefectureName,...,successorCorporateNumber,changeCause,assignmentDate,latest,enName,enPrefectureName,enCityName,enAddressOutside,furigana,hihyoji
count,114758,114758,114758,114758,114758,114758,114758,1245,114758,114758,...,678,1129,114758,114758,233,231,231,0,46900,114758
unique,114388,114758,6,2,1322,1351,105992,1245,9,1,...,581,1066,1334,2,232,1,130,0,41559,2
top,3032,1000013040008,01,0,2015-11-13,2015-10-05,八幡神社,00067214,301,静岡県,...,8080001004480,平成２９年１２月１日静岡市駿河区富士見台一丁目２１番２２号富士見工業株式会社（8080001...,2015-10-05,1,Kamiide financial ward,Shizuoka,"2-1-1,oohara, Ito shi",NaN,ハチマングウ,0
freq,4,1,94176,80781,55849,83217,171,1,51331,114758,...,12,12,101319,114757,2,231,10,NaN,30,114533

corporateNumber の count と unique の数が一致し、重複がなくなったことが確認できた。

In [61]:
# 欠損値の確認
display(data.isna().sum())

sequenceNumber                   0
corporateNumber                  0
process                          0
correct                          0
updateDate                       0
changeDate                       0
name                             0
nameImageId                 113513
kind                             0
prefectureName                   0
cityName                         0
streetNumber                    17
addressImageId              113563
prefectureCode                   0
cityCode                         0
postCode                       173
addressOutside              114758
addressOutsideImageId       114758
closeDate                   104650
closeCause                  104650
successorCorporateNumber    114080
changeCause                 113629
assignmentDate                   0
latest                           0
enName                      114525
enPrefectureName            114527
enCityName                  114527
enAddressOutside            114758
furigana                     67858
hihyoji                          0
dtype: int64

欠損値の項目はあるものの、特に問題のないものである。